.button {
  padding: 16px 24px;
  background: #e8e8e8;
  vertical-align: middle;
  font: inherit;
  border: none;
  border-radius: 1024px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
  outline: none;
  display: inline-flex;
  cursor: pointer;

  position: relative;
  top: -2px;

  &:hover,
  &:active {
    background-color: #f0f0f0;
  }

  &:active {
    box-shadow: none;
    top: 0px;
  }
}
