@use 'variables' as vars;

.button {
  padding: 16px 32px;
  background: vars.$color-white;
  vertical-align: middle;
  font: inherit;
  border: solid 2px vars.$color-white;
  border-radius: 1024px;
  outline: none;
  cursor: pointer;

  @each $name, $color in vars.$colors {
    &.variant-#{$name} {
      color: $color;
    }
  }

  &:hover,
  &:active {
    background-color: transparent;
    color: vars.$color-white;
  }
}
