@use 'variables' as vars;

.button {
  padding: 14px 30px 15px 30px;
  background: vars.$color-white;
  vertical-align: middle;
  font: inherit;
  text-decoration: none;
  line-height: 1;
  border: solid 2px vars.$color-white;
  border-radius: 1024px;
  outline: none;
  display: inline-block;
  cursor: pointer;

  @each $name, $color in vars.$colors {
    &.variant-#{$name} {
      color: $color;
    }
  }

  &:hover,
  &:active {
    background-color: transparent;
    color: vars.$color-white;
  }
}
