@use 'variables' as vars;
@use 'breakpoints' as bp;

.card {
  padding: 48px;
  background: vars.$color-white;
  color: vars.$color-muted;
  box-sizing: border-box;

  @each $name, $color in vars.$colors {
    &.variant-#{$name} {
      background-color: $color;
    }
  }

  &:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  &:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  @include bp.mobile {
    &:first-child {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border-bottom-left-radius: 0;
    }

    &:last-child {
      border-top-right-radius: 0;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}

.card-transport {
  display: grid;
  grid-template: auto 1fr auto / 1fr;
  min-height: 500px;

  header h2 {
    margin-bottom: 24px;
  }

  header img {
    margin-bottom: 30px;
  }

  @include bp.mobile {
    min-height: unset;
  }
}

.card h2 {
  color: vars.$color-white;
}
