@use 'breakpoints' as bp;

.columns {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;

  @include bp.mobile {
    grid-template: auto / auto;
  }
}

.main {
  padding: 88px 24px;
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 968px;
  width: 100%;
}
